.about-text h1 {
  text-align: start;
}

.about {
  margin-top: 150px;
}

.second {
  margin-top: 150px;
}

.about-text p {
  text-align: justify;
}

@media screen and (max-width: 1023px) {
  .about {
    margin-top: 200px;
  }

  .first {
    height: 100vh;
  }

  .about-text h1 {
    text-align: center;
  }
}
