.projects-container {
  margin-top: 150px;
}

.portofolio-container {
  /* border: 1px solid #47b5ff; */
  /* box-shadow: rgba(71, 181, 255, 0.35) 0px 3px  5px; */
  box-shadow: rgba(71, 181, 255, 0.35) 0px 2px 3px 0px, rgba(71, 181, 255, 0.35) 0px 2px 8px 0px;
  padding: 35px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}

.portofolio-container:hover {
  transform: scale(1.03);
  box-shadow: rgba(71, 181, 255, 0.35) 0px 2px 7px 0px, rgba(71, 181, 255, 0.35) 0px 2px 12px 0px;
}

.img-portofolio > img {
  width: 100%;
  transition: 0.3s;
}

.portofolio-container:hover img {
  box-shadow: rgba(71, 181, 255, 0.4) 5px 5px, rgba(71, 181, 255, 0.3) 10px 10px, rgba(71, 181, 255, 0.2) 15px 15px, rgba(71, 181, 255, 0.1) 20px 20px, rgba(71, 181, 255, 0.05) 25px 25px;
  transform: translateX(-3px);
}

.link .btn-link {
  border: 1px rgba(71, 181, 255, 0.5);
  background-color: rgba(71, 181, 255, 0.5);
  text-decoration: none;
  /* margin-top: 0; */
  /* bottom: 10; */
  /* margin: auto; */
  /* top: 10; */
  transition: 0.3s;
  width: 100%;
  /* top: 0; */
}

.link {
  width: 100%;
}

.link .btn-link:hover {
  border: 1px rgba(71, 181, 255, 0.9);
  background-color: rgba(71, 181, 255, 0.9);
  color: white !important;
  /* box-shadow: 0px 0px 10px 1px #125b88; */
}

.portofolio-container h2 {
  font-size: 20px;
}

.portofolio-container p {
  font-size: 17px;
  text-align: justify;
}

aside {
  color: #47b5ff !important;
  display: inline;
}

.textnya {
  white-space: pre-line;
}

@media screen and (max-width: 1023px) {
  .projects-container {
    margin-top: 100px;
  }
}
